.main {
  margin: auto 0;
}

.logo {
  margin: 0 auto 30px;
  max-width: 340px;
}

.text {
  margin: 0 auto;
  max-width: 460px;
}

.highlight-text {
  color: var(--highlight-color);
  font-family: var(--bold-font);
  font-size: 22px;
  font-weight: normal;
}

.leafs {
  background: transparent url("./assets/images/leafs.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  left: 50%;
  max-height: 720px;
  max-width: 720px;
  mix-blend-mode: multiply;
  overflow: hidden;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 100%;
  z-index: -1;
}

.leafs::before {
  content: "";
  display: block;
  padding-bottom: 100%;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .highlight-text {
    font-size: 20px;
  }

  .leafs {
    max-height: 590px;
    max-width: 590px;
  }
}
