@font-face {
  font-family: "BillboardRegular";
  src: url("./assets/fonts/BillboardRegular.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/BillboardRegular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("./assets/fonts/BillboardRegular.woff2") format("woff2"), /* Super Modern Browsers */
       url("./assets/fonts/BillboardRegular.woff") format("woff"), /* Modern Browsers */
       url("./assets/fonts/BillboardRegular.ttf") format("truetype"), /* Safari, Android, iOS */
       url("./assets/fonts/BillboardRegular.svg#BillboardRegular") format("svg"), /* Legacy iOS */
       url("./assets/fonts/BillboardRegular.otf") format("opentype"); /* OpenType */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueLTProRoman";
  src: url("./assets/fonts/HelveticaNeueLTProRoman.eot"); /* IE9 Compat Modes */
  src: url("./assets/fonts/HelveticaNeueLTProRoman.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
       url("./assets/fonts/HelveticaNeueLTProRoman.woff2") format("woff2"), /* Super Modern Browsers */
       url("./assets/fonts/HelveticaNeueLTProRoman.woff") format("woff"), /* Modern Browsers */
       url("./assets/fonts/HelveticaNeueLTProRoman.ttf") format("truetype"), /* Safari, Android, iOS */
       url("./assets/fonts/HelveticaNeueLTProRoman.svg#HelveticaNeueLTProRoman") format("svg"), /* Legacy iOS */
       url("./assets/fonts/HelveticaNeueLTProRoman.otf") format("opentype"); /* OpenType */
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #3f3f3f;
  --highlight-color: #203c01;
  --primary-font: "HelveticaNeueLTProRoman", sans-serif;
  --bold-font: "BillboardRegular", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  background: transparent url("./assets/images/bg.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: 16px;
}

h2 {
  font-family: var(--bold-font);
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
}

img {
  display: block;
  max-width: 100%;
}

.holder {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
}

.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.highlight-color {
  color: var(--highlight-color);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h2 {
    font-size: 26px;
  }

  .holder {
    padding-left: 20px;
    padding-right: 20px;
  }
}
